* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

/************ UTILITY ************/

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.border-bottom {
    border-bottom: 3px solid rgb(115, 255, 0);
}

.margin-top {
    margin-top: 80px;
}

.margin-top-15 {
    margin-top: 15px;
}

.circle {
    border-radius: 50%;
    width: 100%;
}

.line-height {
    line-height: 35px;
}

.border-left {
    border-left: 3px solid rgb(115, 255, 0);
}

.font-size20 {
    font-size: 20px;
}

.wd-100 {
    width: 100%;
}

.list-type {
    list-style-type: none;
}

.margin-bottom {
    margin-bottom: 5%;
}

.margin-bottom1 {
    margin-bottom: 1%;
}

.color-gray {
    color: #8d8c8c;
}

.margin-left {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    transform: scale(1.1);
}

h2, h4{
    margin-left: 15px;
}

/********* EFFETTI DI HOVER *********/

a:hover {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    transform: scale(1.1);
}

i:hover {
    color: white;
    transform: scale(1.1);
}

.square-album:hover {
    filter: grayscale(50%);
    opacity: 40%;
    filter: drop-shadow(10px 15px 2px rgb(0, 0, 0));
}

.overlay {
    position: absolute;
    padding-left: 16px;
    padding-right: 15px;
    font-size: 50px;
    color: black;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
}

/************ MAIN ************/

main {
    height: calc(100vh - 100px);
    background-color: #141922;
    color: white;
    display: flex;
}

/************ SIDEBAR ************/

#sidebar {
    height: 100%;
    width: 200px;
    background-color: #000000;
    color: #8d8c8c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}

.sidebar-logo-mobile {
    display: none;
}

.sidebar-icon {
    display: flex;
    width: 20%;
    align-items: center;
}



.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 77%;
}

.square-gray {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #535353;
    text-align: center;
}

.circle-gray {
    height: 30px;
    background-color: #535353;
    text-align: center;
    border-radius: 50%;
    background-image: url(../img/profile.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    
}

.profile-icon {
    display: inline-block;
    margin-top: 5%;
    width: 17%;
}

/************ CONTEINER ************/

/************ HEADER ************/

#conteiner {
    width: calc(100% - 150px);
    overflow-y: auto;
}

header {
    position: sticky;
    height: 75px;
    background-color: #080B12;
    top: 0;
    box-shadow: 0px 8px 25px #010c1f;
}

.btn {
    background-color: transparent;
    color: white;
    border-radius: 25px;
    padding: 10px 45px;
    border-color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-right: 15px;
}


.music-type-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
    color: #8d8c8c;
}


/************ CONTEINER ************/

/************ RECENTLY PLAYED ************/

.square {
    display: flex;
    flex-wrap: wrap;
}

.square-album {
    width: calc(100% / 6 - 20px);
    margin: 10px;
}

.square-info {
    text-align: center;
}

/************ FOOTER ************/

footer {
    height: 100px;
    background-color: #282828;
}

.footer-information {
    display: flex;
    color: white;
    padding: 1%;
    height: 100%;
}

.footer-info-left {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
    background-color: #282828;
}

.footer-info-center {
    text-align: center;
    margin: auto;
    width: 100%;
    word-spacing: 30px;
    margin-bottom: 10px;
    line-height: 35px;
}

.footer-info-center-down {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-info-right {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 30px;
}

.footer-img {
    width: 12%;
}

.volume {
    width: 20%;
    height: 5%;
    background: gray;
    border-radius: 20%;
}

.volume2 {
    width: 100%;
    height: 5%;
    background: gray;
    border-radius: 50%;
}


/************* MEDIA QUERY **********/

/************* FORMATO MD **********/

@media screen and (max-width:990px) {
    .square-album {
        width: calc(100% / 4 - 20px);
    }

    .footer-img{
        width: 60px;
    }
}

/************* FORMATO S **********/

@media screen and (max-width:690px) {
    .square-album {
        width: calc(100% / 2 - 20px);
    }

    .footer-info-left,
    .footer-info-center,
    .footer-info-center-down,
    .footer-info-right {
        font-size: 15px;
    }

    .footer-info-center {
        word-spacing: 10px;
    }

    .footer-img{
        width: 60px;
    }

    .hidden-tablet{
        display: none;
    }

}

/************* FORMATO XS **********/

@media screen and (max-width:548px) {
    .square-album {
        width: calc(100% / 2 - 20px);
    }

    #conteiner {
        width: 100%;
    }

    .sidebar-logo-mobile {
        display: inline-block;
        width: 60%;
        margin: 15%;
    }

    #sidebar {
        width: 60px;
    }

    .hidden-mobile {
        display: none;
    }

    .sidebar-icon {
        width: 60%;
        margin: 15%;
    }

    .profile-icon {
        width: 55%;
        margin: 15%;
    }

    .arrow-icon {
        margin: 12%;
        font-size: 25px;
    }

    .footer-info-left,
    .footer-info-center,
    .footer-info-center-down,
    .footer-info-right {
        font-size: 15px;
        gap: 10px;
    }

    .footer-info-left {
        width: 60%;
    }

    .footer-info-center {
        word-spacing: 10px;
        margin-left: 45px;
    }

    .footer-img{
        width: 40px;
    }
}

/************* FORMATO XXS **********/

@media screen and (max-width:340px) {
    
    button{
        display: none;
    }
    
    .square-album {
        width: calc(100% / 1 - 20px);
    }

    .footer-info-left {
        display: none;
    }

}