* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}

/************ UTILITY ************/

.text-right {
    text-align: right;
}

.text-center{
    text-align: center;
}

.border-bottom {
    border-bottom: 3px solid rgb(115, 255, 0);
}

.margin-top {
    margin-top: 80px;
}

.circle {
    border-radius: 50%;
    width: 100%;
}

.line-height {
    line-height: 35px;
}

.border-left {
    border-left: 3px solid rgb(115, 255, 0);
}

.font-size20 {
    font-size: 20px;
}

.wd-100 {
    width: 100%;
}

.list-type{
    list-style-type: none;
}

.margin-bottom{
    margin-bottom: 5%;
}

.margin-bottom1{
margin-bottom: 1%;
}

/************ MAIN ************/

main {
    height: calc(100vh - 100px);
    background-color: #141922;
    color: white;
    display: flex;
}

/************ SIDEBAR ************/

#sidebar {
    height: 100%;
    width: 200px;
    background-color: #000000;
    color: #535353;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}

.sidebar-icon {
    display: flex;
    width: 15%;
    align-items: center;
}


#conteiner {
    width: calc(100% - 150px);
    overflow-y: auto;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 77%;
}

.square-gray{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #535353;
    text-align: center;
}

.circle-gray{
    height: 36px;
    background-color: #535353;
    text-align: center;
    border-radius: 50%;
}

.profile-icon{
    display: inline-block;
    width: 15%;
    margin-top: 5%;
}

/************ CONTEINER ************/

/************ HEADER ************/

header {
    position: sticky;
    height: 75px;
    background-color: #080B12;
    top: 0;
}

.btn {
    background-color: transparent;
    color: white;
    border-radius: 25px;
    padding: 10px 45px;
    border-color: rgb(255, 255, 255);
    margin-top: 15px;
}


.music-type-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
}


/************ CONTAINER ************/

/************ RECENTLY PLAYED ************/

.square {
    display: flex;
}

.square-album {
    width: calc(100% / 6 - 10px);
    height: calc(100vw / 6);
    margin: 10px;
}

.square-info{
    text-align: center;
}

/************ FOOTER ************/

footer {
    height: 100px;
    background-color: #282828;
}

.footer-information {
    height: 100%;
    display: flex;
    color: white;
    padding: 1%;
}

.footer-info-left {
    display: flex;
    align-items: center;
    width: 33%;
    gap: 30px;
}

.footer-info-center {
    text-align: center;
    margin: auto;
    width: 33%;
    word-spacing: 30px;
    margin-bottom: 10px;
    line-height: 35px;
}

.footer-info-right {
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: flex-end;
    gap: 30px;
}

.footer-img {
    width: 10%;
}

.volume{
    width: 20%;
    height: 5%;
    background: gray;
    border-radius: 20%;
}


/************* MEDIA QUERY **********/

@media screen and (max-width:990px){
    .square{
        
    }
}